<?xml version="1.0" standalone="yes"?>
<%import core_funcs%> 
<!--generated with beastgen.py-->

<beast>
   <!-- The list of taxa to be analysed (can also include dates/ages).          -->
%for taxon_info in config["fasta"]:
<%name = taxon_info["name"]
taxa_list = taxon_info["sequences"]%>\
    <!-- ntax=${len(taxa_list)}                                             -->
    <taxa id="${name}.taxa">
%for sequence in taxa_list: 
        <taxon id="${sequence.id}">
<% date,uncertainty= core_funcs.decimal_date(sequence.id.split("|")[-1])%>\
            <date value="${date}" direction="forwards" units="years" uncertainty="${uncertainty}"/> 
%for trait in config["traits"]:
            <attr name="${trait}">
                ${config["trait_dict"][sequence.id][trait]}
            </attr>
%endfor
        </taxon>
%endfor 
    </taxa> 
%endfor

%if not config["fixed_tree"]:
%for taxon_info in config["fasta"]:
	<%name = taxon_info["name"]%>
	<alignment id="${name}.alignment" dataType="nucleotide">
%for sequence in taxon_info["sequences"]:
		<sequence>
            <taxon idref="${sequence.id}"/>
            ${sequence.seq}
        </sequence>
%endfor
	</alignment>

	<patterns id="${name}.patterns" from="1" strip="false">
		<alignment idref="${name}.alignment"/>
	</patterns>
%endfor
%endif

%if config["fixed_tree"]:
<!-- Insert fixed tree blocks -->  
%for tree_name, tree_file in config["tree_file_dict"].items():
	<empiricalTreeDistributionModel id="${tree_name}" fileName="${tree_file}">
		<taxa idref="taxa_${tree_name}"/>
	</empiricalTreeDistributionModel> 
%endfor
%endif

%if not config['fixed_tree'] and not config['starting_tree']:
	<constantSize id="initialDemo" units="years">
		<populationSize>
			<parameter id="initialDemo.popSize" value="100.0"/>
		</populationSize>
	</constantSize>
%for taxon_info in config["fasta"]:
<%name = taxon_info["name"]%>
	<!-- Generate a random starting tree under the coalescent process            -->
	<coalescentSimulator id="${name}.startingTree">
		<taxa idref="${name}.taxa"/>
		<constantSize idref="initialDemo"/>
	</coalescentSimulator>
	
	<treeModel id="${name}.treeModel">
		<coalescentTree idref="${name}.startingTree"/>
		<rootHeight>
			<parameter id="${name}.treeModel.rootHeight"/>
		</rootHeight>
		<nodeHeights internalNodes="true">
			<parameter id="${name}.treeModel.internalNodeHeights"/>
		</nodeHeights>
		<nodeHeights internalNodes="true" rootNode="true">
			<parameter id="${name}.treeModel.allInternalNodeHeights"/>
		</nodeHeights>
<%taxa_list = taxon_info["sequences"]%>
%for sequence in taxa_list:
<%date,uncertainty= core_funcs.decimal_date(sequence.id.split("|")[-1])%>\
%if uncertainty == 1.0:	
		<leafHeight taxon="${sequence.id}">
			<parameter id="age(${sequence.id})"/>
		</leafHeight>
%endif
%endfor

	</treeModel>

	<!-- Statistic for height of the root of the tree                            -->
	<treeHeightStatistic id="${name}.rootHeight">
		<treeModel idref="${name}.treeModel"/>
	</treeHeightStatistic>

	<!-- Statistic for time of most recent common ancestor of tree               -->
	<tmrcaStatistic id="${name}.age(root)" absolute="true">
		<treeModel idref="${name}.treeModel"/>
	</tmrcaStatistic>
	<!-- Statistic for sum of the branch lengths of the tree (tree length)       -->
	<treeLengthStatistic id="${name}.treeLength">
		<treeModel idref="${name}.treeModel"/>
	</treeLengthStatistic>

%endfor
%endif

%if not config["fixed_tree"]:
%for taxon_info in config["fasta"]:
%if config["growth_model"] == "skygrid":
<%name = taxon_info["name"]%>
	<!-- Generate a gmrfSkyGridLikelihood for the Bayesian SkyGrid process       -->
	<gmrfSkyGridLikelihood id="${name}.skygrid">
		<populationSizes>
			<!-- skygrid.logPopSize is in log units unlike other popSize                 -->
			<parameter id="${name}.skygrid.logPopSize" dimension="${config['gridpoints']}" value="1.0"/>
		</populationSizes>
		<precisionParameter>
			<parameter id="${name}.skygrid.precision" value="0.1" lower="0.0"/>
		</precisionParameter>
		<numGridPoints>
			<parameter id="${name}.skygrid.numGridPoints" value="${config['gridpoints']-1}.0"/>
		</numGridPoints>
		<cutOff>
			<parameter id="${name}.skygrid.cutOff" value="${config['cutoff']}"/>
		</cutOff>
		<populationTree>
			<treeModel idref="${name}.treeModel"/>
		</populationTree>
	</gmrfSkyGridLikelihood>

	<gmrfSkyrideGradient id="${name}.gmrfGradientPop" wrtParameter="logPopulationSizes">
		<gmrfSkyGridLikelihood idref="${name}.skygrid"/>
	</gmrfSkyrideGradient>
	
	<compoundParameter id="${name}.skygrid.parameters">
		<parameter idref="${name}.skygrid.precision"/>
		<parameter idref="${name}.skygrid.logPopSize"/>
	</compoundParameter>
	
	<gmrfSkyrideGradient id="${name}.gmrfGradientPrec" wrtParameter="precision">
		<gmrfSkyGridLikelihood idref="${name}.skygrid"/>
	</gmrfSkyrideGradient>
	
	<gammaPrior id="${name}.skygrid.precision.prior" shape="0.001" scale="1000" offset="0.0">
		<parameter idref="${name}.skygrid.precision"/>
	</gammaPrior>
	
	<jointGradient id="${name}.joint.skygrid.precision">
		<gmrfSkyrideGradient idref="${name}.gmrfGradientPrec"/>
		<gradient>
			<gammaPrior idref="${name}.skygrid.precision.prior"/>
			<parameter idref="${name}.skygrid.precision"/>
		</gradient>
	</jointGradient>
	
	<compoundGradient id="${name}.full.skygrid.gradient">
		<jointGradient idref="${name}.joint.skygrid.precision"/>
		<gmrfSkyrideGradient idref="${name}.gmrfGradientPop"/>
	</compoundGradient>
%endif
%if config["clock_model"] == "relaxed":
    <discretizedBranchRates id="${name}.branchRates">
		<treeModel idref="${name}.treeModel"/>
		<distribution>
			<logNormalDistributionModel meanInRealSpace="true">
%if loop.first:
				<mean>
					<parameter id="ucld.mean" value="1.0" lower="0.0"/>
				</mean>
				<stdev>
					<parameter id="ucld.stdev" value="0.3333333333333333" lower="0.0"/>
				</stdev>
%else:
<mean>
				<parameter idref="ucld.mean"/>
				</mean>
				<stdev>
					<parameter idref="ucld.stdev"/>
				</stdev>
%endif
			</logNormalDistributionModel>
		</distribution>
		<rateCategories>
			<parameter id="${name}.branchRates.categories"/>
		</rateCategories>
	</discretizedBranchRates>

	<rateStatistic id="${name}.meanRate" name="${name}.meanRate" mode="mean" internal="true" external="true">
		<treeModel idref="${name}.treeModel"/>
		<discretizedBranchRates idref="${name}.branchRates"/>
	</rateStatistic>
	<rateStatistic id="${name}.coefficientOfVariation" name="${name}.coefficientOfVariation" mode="coefficientOfVariation" internal="true" external="true">
		<treeModel idref="${name}.treeModel"/>
		<discretizedBranchRates idref="${name}.branchRates"/>
	</rateStatistic>
	<rateCovarianceStatistic id="${name}.covariance" name="${name}.covariance">
		<treeModel idref="${name}.treeModel"/>
		<discretizedBranchRates idref="${name}.branchRates"/>
	</rateCovarianceStatistic>


%else:
	<!-- The strict clock (Uniform rates across branches)                        -->
	<strictClockBranchRates id="${name}.branchRates">
		<rate>
%if loop.first:
			<parameter id="clock.rate" value="0.001" lower="0.0"/>
%else:
			<parameter idref="clock.rate"/>
%endif
		</rate>
	</strictClockBranchRates>
	
	<rateStatistic id="${name}.meanRate" name="${name}.meanRate" mode="mean" internal="true" external="true">
		<treeModel idref="${name}.treeModel"/>
		<strictClockBranchRates idref="${name}.branchRates"/>
	</rateStatistic>
%endif
%endfor

	<gtrModel id="gtr">
		<frequencies>
			<frequencyModel dataType="nucleotide">
				<frequencies>
					<parameter id="frequencies" value="0.25 0.25 0.25 0.25"/>
				</frequencies>
			</frequencyModel>
		</frequencies>
		<rates>
			<parameter id="gtr.rates" dimension="6" value="1.0" lower="0.0"/>
		</rates>
	</gtrModel>
	<siteModel id="siteModel">
		<substitutionModel>
			<gtrModel idref="gtr"/>
		</substitutionModel>
		<gammaShape gammaCategories="4">
			<parameter id="alpha" value="0.5" lower="0.0"/>
		</gammaShape>
	</siteModel>
	<statistic id="mu" name="mu">
		<siteModel idref="siteModel"/>
	</statistic>

%for taxon_info in config["fasta"]:
<%name = taxon_info["name"]%>\
	<treeLikelihood id="${name}.treeLikelihood" useAmbiguities="false">
		<patterns idref="${name}.patterns"/>
		<treeModel idref="${name}.treeModel"/>
		<siteModel idref="siteModel"/>
%if config["clock_model"] == "relaxed":
		<discretizedBranchRates idref="${name}.branchRates"/>
%else:
		<strictClockBranchRates idref="${name}.branchRates"/>
%endif
	</treeLikelihood>
%endfor
%endif


<!-- START Multivariate diffusion model                                      -->
	<multivariateDiffusionModel id="${config["overall_trait"]}.diffusionModel">
		<precisionMatrix>
			<matrixParameter id="${config["overall_trait"]}.precision">
				<parameter id="${config["overall_trait"]}.precision.col1" value="0.05 0.002"/>
				<parameter id="${config["overall_trait"]}.precision.col2" value="0.002 0.05"/>
			</matrixParameter>
		</precisionMatrix>
	</multivariateDiffusionModel>

	<multivariateWishartPrior id="${config["overall_trait"]}.precisionPrior" df="2">
		<scaleMatrix>
			<matrixParameter>
				<parameter value="1.0 0.0"/>
				<parameter value="0.0 1.0"/>
			</matrixParameter>
		</scaleMatrix>
		<data>
			<parameter idref="${config["overall_trait"]}.precision"/>
		</data>
	</multivariateWishartPrior>

	<!-- END Multivariate diffusion model                                        -->
%for taxon_info in config["fasta"]:
<%name = taxon_info["name"]%>
<!-- START Multivariate diffusion model                                     -->
	<discretizedBranchRates id="${name}.${config["overall_trait"]}.diffusionRates">
		<treeModel idref="${name}.treeModel"/>
		<distribution>
			<onePGammaDistributionModel>
				<shape>
					<!-- half DF (i.e., df = 1)                                                  -->
					<parameter value="0.5"/>
				</shape>
			</onePGammaDistributionModel>
		</distribution>
		<rateCategories>
			<parameter id="${name}.${config["overall_trait"]}.rrwCategories"/>
		</rateCategories>
	</discretizedBranchRates>
	
	<multivariateTraitLikelihood id="${name}.${config["overall_trait"]}.traitLikelihood" traitName="${config["overall_trait"]}" useTreeLength="true" scaleByTime="true" reportAsMultivariate="true" reciprocalRates="true" integrateInternalTraits="true">
		<multivariateDiffusionModel idref="${config["overall_trait"]}.diffusionModel"/>
		<treeModel idref="${name}.treeModel"/>
		<traitParameter>
			<parameter id="${name}.leaf.${config["overall_trait"]}}"/>
		</traitParameter>
		<conjugateRootPrior>
			<meanParameter>
				<parameter value="0.0 0.0"/>
			</meanParameter>
			<priorSampleSize>
				<parameter value="0.001"/>
			</priorSampleSize>
		</conjugateRootPrior>
		<discretizedBranchRates idref="${name}.${config["overall_trait"]}.diffusionRates"/>
	</multivariateTraitLikelihood>
	
	<continuousDiffusionStatistic id="${name}.${config["overall_trait"]}.diffusionRate" greatCircleDistance="true">
		<multivariateTraitLikelihood idref="${name}.${config["overall_trait"]}.traitLikelihood"/>
	</continuousDiffusionStatistic>
%endfor
	
	
	<correlation id="${config["overall_trait"]}.correlation" dimension1="1" dimension2="2">
		<matrixParameter idref="${config["overall_trait"]}.precision"/>
	</correlation>
	<matrixInverse id="${config["overall_trait"]}.varCovar">
		<matrixParameter idref="${config["overall_trait"]}.precision"/>
	</matrixInverse>
	

	<!-- END Multivariate diffusion model                                        -->	
	
%for taxon in config["uncertain_polygons"]:
<%name=config["seq_to_tree"][taxon]%>\
	<leafTraitParameter id="${taxon}.trait" taxon="${taxon}">
		<treeModel idref="${name}.treeModel"/>
		<parameter idref="${name}.leaf.${config["overall_trait"]}}"/>
	</leafTraitParameter>
	<flatGeoSpatialPrior id="${taxon}_polygons" taxon="${taxon}" kmlFileName="${config['polygon_dir']}/${taxon}.kml" inside="true" union="true" cache="true">
		<data>
			<parameter idref="${taxon}.trait"/>
		</data>
	</flatGeoSpatialPrior>
%endfor

	
	<!-- Define operators                                                        --> 
    <operators id="operators" optimizationSchedule="log">

%if not config["fixed_tree"]:
		<deltaExchange delta="0.01" weight="0.1">
			<parameter idref="gtr.rates"/>
		</deltaExchange>
		<deltaExchange delta="0.01" weight="0.1">
			<parameter idref="frequencies"/>
		</deltaExchange>
		<scaleOperator scaleFactor="0.75" weight="1">
			<parameter idref="alpha"/>
		</scaleOperator>	
%endif  

%for taxon_info in config["fasta"]:
<% name = taxon_info["name"]%>\
%if not config["fixed_tree"]:
		<hamiltonianMonteCarloOperator weight="5" nSteps="50" stepSize="1E-2" mode="vanilla" 
                                        autoOptimize="true" gradientCheckCount="1" gradientCheckTolerance="1E-1" 
                                        preconditioning="none" preconditioningUpdateFrequency="100">
	 		<compoundGradient idref="${name}.full.skygrid.gradient"/>
			<compoundParameter idref="${name}.skygrid.parameters"/>
			<signTransform start="1" end="1">
				<compoundParameter idref="${name}.skygrid.parameters"/>
			</signTransform>
 		</hamiltonianMonteCarloOperator>

%if config["clock_model"] == "relaxed":
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="ucld.mean"/>
		</scaleOperator>
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="ucld.stdev"/>
		</scaleOperator>
		
		<upDownOperator scaleFactor="0.75" weight="3">
			<up>
				<parameter idref="${name}.treeModel.allInternalNodeHeights"/>
			</up>
			<down>
				<parameter idref="ucld.mean"/>
			</down>
		</upDownOperator>
		<swapOperator size="1" weight="10" autoOptimize="false">
			<parameter idref="${name}.branchRates.categories"/>
		</swapOperator>
		<uniformIntegerOperator weight="10">
			<parameter idref="${name}.branchRates.categories"/>
		</uniformIntegerOperator>
%else:
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="${name}.clock.rate"/>
		</scaleOperator>
		<upDownOperator scaleFactor="0.75" weight="3">
			<up>
				<parameter idref="${name}.treeModel.allInternalNodeHeights"/>
			</up>
			<down>
				<parameter idref="${name}.clock.rate"/>
			</down>
		</upDownOperator>
%endif
		
		<uniformOperator weight="9">
			<parameter idref="${name}.treeModel.internalNodeHeights"/>
		</uniformOperator>
		
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="${name}.treeModel.rootHeight"/>
		</scaleOperator>
		
		<subtreeLeap size="1.0" weight="823">
			<treeModel idref="${name}.treeModel"/>
		</subtreeLeap>
		<fixedHeightSubtreePruneRegraft weight="82.3">
			<treeModel idref="${name}.treeModel"/>
		</fixedHeightSubtreePruneRegraft>
%endif
		<swapOperator size="1" weight="30" autoOptimize="false">
			<parameter idref="${name}.${config["overall_trait"]}.rrwCategories"/>
		</swapOperator>
		<uniformIntegerOperator weight="10">
			<parameter idref="${name}.${config["overall_trait"]}.rrwCategories"/>
		</uniformIntegerOperator>

%for sequence in taxa_list:
<%date,uncertainty= core_funcs.decimal_date(sequence.id.split("|")[-1])%>\
%if uncertainty == 1.0:	
   		<uniformOperator weight="0.001">
			<parameter idref="age(${sequence.id})"/>
		</uniformOperator>
%endif
%endfor
%endfor
		<!-- Insert precisionGibbsOperator blocks --> 
		<precisionGibbsOperator weight="2">
%for taxon_info in config["fasta"]:
<% name = taxon_info["name"]%>
			<multivariateTraitLikelihood idref="${name}.${config["overall_trait"]}.traitLikelihood"/>
%endfor
			<multivariateWishartPrior idref="${config["overall_trait"]}.precisionPrior"/> 
		</precisionGibbsOperator> 

%for taxon in config["uncertain_polygons"]:
		<uniformGeoSpatialOperator weight="0.01">
			<parameter idref="${taxon}.trait"/>
			<flatGeoSpatialPrior idref="${taxon}_polygons"/>
		</uniformGeoSpatialOperator>
%endfor
    </operators>
    
    <mcmc id="mcmc" chainLength="${config["chain_length"]}" autoOptimize="true">
		<joint id="joint">
			<prior id="prior">

%if not config["fixed_tree"]:
				<dirichletPrior alpha="1.0" sumsTo="6.0">
					<parameter idref="gtr.rates"/>
				</dirichletPrior>
				<dirichletPrior alpha="1.0" sumsTo="1.0">
					<parameter idref="frequencies"/>
				</dirichletPrior>
				<exponentialPrior mean="0.5" offset="0.0">
					<parameter idref="alpha"/>
				</exponentialPrior>
%if config["clock_model"] == "relaxed":
				<exponentialPrior mean="0.3333333333333333" offset="0.0">
					<parameter idref="ucld.stdev"/>
				</exponentialPrior>
%endif
				
%for taxon_info in config["fasta"]:
<% name = taxon_info["name"]%>\
%if config["clock_model"] == "relaxed":
				
				<ctmcScalePrior>
					<ctmcScale>
						<parameter idref="ucld.mean"/>
					</ctmcScale>
					<treeModel idref="${name}.treeModel"/>
				</ctmcScalePrior>
				<discretizedBranchRates idref="${name}.branchRates"/>
%else:
				<ctmcScalePrior>
					<ctmcScale>
						<parameter idref="clock.rate"/>
					</ctmcScale>
					<treeModel idref="${name}.treeModel"/>
				</ctmcScalePrior>
				<strictClockBranchRates idref="${name}.branchRates"/>
%endif
				<gammaPrior idref="${name}.skygrid.precision.prior"/>
				<gmrfSkyGridLikelihood idref="${name}.skygrid"/>
				

%endfor
%endif
				<multivariateWishartPrior idref="${config["overall_trait"]}.precisionPrior"/> 

%if config["uncertain_polygons"]:
				<geoDistributionCollection id="allGeoDistributions">
%for taxon in config["uncertain_polygons"]:
					<flatGeoSpatialPrior idref="${taxon}_polygons"/>
%endfor
				</geoDistributionCollection>
%endif
            </prior>

			<likelihood id="likelihood">
%for taxon_info in config["fasta"]:
<% name = taxon_info["name"]%>
				<treeLikelihood idref="${name}.treeLikelihood"/>
				<multivariateTraitLikelihood idref="${name}.${config["overall_trait"]}.traitLikelihood"/>
%endfor
			</likelihood>
		</joint>
        <operators idref="operators"/>

    <!-- write log to screen                                                     -->
		<log id="screenLog" logEvery="${config["log_every"]}">
			<column label="Joint" dp="4" width="12">
				<joint idref="joint"/>
			</column>
			<column label="Prior" dp="4" width="12">
				<prior idref="prior"/>
			</column>
			<column label="Likelihood" dp="4" width="12">
				<likelihood idref="likelihood"/>
			</column>
		</log>

		<log id="fileLog" logEvery="${config["log_every"]}" fileName="${config["file_stem"]}.log" overwrite="false">
			<joint idref="joint"/> 
			<prior idref="prior"/> 
			<likelihood idref="likelihood"/> 
			<!-- START Multivariate diffusion model                                      --> 
			<matrixParameter idref="${config["overall_trait"]}.precision"/> 
			<correlation idref="${config["overall_trait"]}.correlation"/> 
			<matrixInverse idref="${config["overall_trait"]}.varCovar"/> 
%if not config["fixed_tree"]:
			<parameter idref="gtr.rates"/>
			<parameter idref="frequencies"/>
%endif
%if config["clock_model"] == "relaxed":
			<parameter idref="ucld.mean"/>
			<parameter idref="ucld.stdev"/>
%else:
			<parameter idref="clock.rate"/>
%endif
%for taxon_info in config["fasta"]:
<% name = taxon_info["name"]%>
%if not config["fixed_tree"]:
			<parameter idref="${name}.treeModel.rootHeight"/>
			<tmrcaStatistic idref="${name}.age(root)"/>
			<treeLengthStatistic idref="${name}.treeLength"/>
			<parameter idref="${name}.skygrid.precision"/>
			<parameter idref="${name}.skygrid.logPopSize"/>
			<gmrfSkyGridLikelihood idref="${name}.skygrid"/>
%if config["clock_model"] == "relaxed":
			<rateStatistic idref="${name}.meanRate"/>
			<rateStatistic idref="${name}.coefficientOfVariation"/>
			<rateCovarianceStatistic idref="${name}.covariance"/>			
%endif
			<treeLikelihood idref="${name}.treeLikelihood"/>
%endif
			<continuousDiffusionStatistic idref="${name}.${config["overall_trait"]}.diffusionRate"/>
			<multivariateTraitLikelihood idref="${name}.${config["overall_trait"]}.traitLikelihood"/>
%endfor

		</log>

		<!-- write tree log to file                                                  -->
%for taxon_info in config["fasta"]:
<% name = taxon_info["name"]%>
		<logTree id="${name}.treeFileLog" logEvery="${config["log_every"]}" nexusFormat="true" fileName="${name}.trees" sortTranslationTable="true">
			<treeModel idref="${name}.treeModel"/>
			<joint idref="joint"/> 
			<trait name="${config["overall_trait"]}" tag="${config["overall_trait"]}"> 
				<multivariateTraitLikelihood idref="${name}.${config["overall_trait"]}.traitLikelihood"/>
			</trait> 
			<multivariateDiffusionModel idref="${config["overall_trait"]}.diffusionModel"/> 
			<trait name="rate" tag="rate">
%if config["clock_model"] == "relaxed":
				<discretizedBranchRates idref="${name}.branchRates"/>
%else:  
				<strictClockBranchRates idref="${name}.branchRates"/>
%endif
				</trait>
		</logTree> 
%endfor
	</mcmc>

	<report>
		<property name="timer">
			<mcmc idref="mcmc"/>
		</property>
	</report>
	
</beast>
