<?xml version="1.0" standalone="yes"?>
<%
    import core_funcs
%> 
<!--generated with beastgen.py-->

<beast>

   <!-- The list of taxa to be analysed (can also include dates/ages).          -->
<%if type(config["taxa"]) == list:
	id_list = config["taxa"]
%>
	<!-- ntax=${len(id_list)}                                             -->
    <taxa id="taxa">
% for sequence in id_list: 
        <taxon id="${sequence}">
            <date value="${core_funcs.decimal_date(sequence.split('|')[-1])}" direction="forwards" units="years"/> 
%if config["dta"]:
%for trait in config['traits']:
            <attr name="${trait}">
                ${config['trait_dict'][sequence][trait]}
            </attr>
%endfor
%endif
        </taxon>
%endfor 
    </taxa> 


%if len(config["tree_file_dict"]) > 0:
<!-- Insert starting tree blocks -->  
%for tree_name, tree_file in config["tree_file_dict"].items():
	<empiricalTreeDistributionModel id="treeModel" fileName="${tree_file}">
		<taxa idref="taxa"/>
	</empiricalTreeDistributionModel> 
%endfor
##here add in the non-fixed tree stuff
%endif


%for trait in config['traits']:
<%  
n_options = len(config['all_trait_options'][trait])
n_predictors = len(config['trait_to_predictor'][trait])
trait_rand_design = config['re_matrices'][trait]
%>
<!-- general data type for discrete trait model, "${trait}"                  -->
    <generalDataType id="${trait}.dataType">

    <!-- Number Of States = ${n_options}                                                  -->
%for option in config['all_trait_options'][trait]:
        <state code="${option}"/>
%endfor

%for ambs, options in config['ambiguities'].items():
		<ambiguity code="${ambs}" states="${options}"/>
%endfor

    </generalDataType>

    <!-- Data pattern for discrete trait, "${trait}"                             -->
	<attributePatterns id="${trait}.pattern" attribute="${trait}">
		<taxa idref="taxa"/>
		<generalDataType idref="${trait}.dataType"/>
	</attributePatterns>

	<!-- END Discrete Traits Model                                               -->

<!-- define some glm stuff -->
%for predictor, values in config['trait_to_predictor'][trait].items():
	<parameter id="${predictor}" value="${values}" />
%endfor

%if config['epoch']:
%for epoch_number in range(len(config["transition_times"])):
	<glmSubstitutionModel id="${trait}.model.${epoch_number}">
		<dataType idref="${trait}.dataType"/>
		<rootFrequencies>
			<frequencyModel id="${trait}.frequencyModel.${epoch_number}" normalize="true">
			<dataType idref="${trait}.dataType"/>
				<frequencies>
					<parameter id="${trait}.frequencies.${epoch_number}" dimension="${n_options}"/>
				</frequencies>
			</frequencyModel>		
		</rootFrequencies>
		<glmModel id="${trait}.glmModel.${epoch_number}" family="logLinear" checkFullRank="false"  checkIdentifiability="false">
			<independentVariables>
				<parameter id="${trait}.glmCoefficients.${epoch_number}" dimension="${n_predictors}" value="0.1"/> <!-- dimension is the number of predictors -->
				<indicator>
					<parameter id="${trait}.coefIndicator.${epoch_number}" dimension="${n_predictors}" value="1"/> <!-- dimension is the number of predictors -->
				</indicator>
				<designMatrix id="${trait}.designMatrix.${epoch_number}">
%for predictor, values in config['trait_to_predictor'][trait].items():
					<parameter idref="${predictor}"/>
%endfor
				</designMatrix>
			</independentVariables>
			<independentVariables>
				<parameter id="glmRandCoefficients_${trait}.${epoch_number}" dimension="${n_options*2}" value="0.1"/> <!-- NB I'm assuming here that it's asymmetric-->
				<indicator>
					<parameter id="coefRandIndicator_${trait}.${epoch_number}" dimension="${n_options*2}" value="1.0"/>
				</indicator>
				<designMatrix id="randDesignMatrix_${trait}.${epoch_number}" checkIdentifiability="false">
% for to_from, rand_matrix in trait_rand_design.items():
					<parameter id="${to_from}.${epoch_number}" value="${rand_matrix}"/>
%endfor
				</designMatrix>
			</independentVariables>
		</glmModel>
	</glmSubstitutionModel>

	<sumStatistic id="${trait}.nonZeroIndicators.${epoch_number}" name="nonZeroIndicatorCount" elementwise="true">
		<parameter idref="${trait}.coefIndicator.${epoch_number}"/>
	</sumStatistic>
	<productStatistic id="${trait}.coefficientsTimesIndicators.${epoch_number}" elementwise="false">
		<parameter idref="${trait}.glmCoefficients.${epoch_number}"/>
		<parameter idref="${trait}.coefIndicator.${epoch_number}"/>
	</productStatistic>

	<distributionLikelihood id="${trait}_randomEffects.prior.${epoch_number}">
		<data>
			<parameter idref="glmRandCoefficients_${trait}.${epoch_number}"/>
		</data>
	    <distribution>
    	    <normalDistributionModel>
				<mean>
					<parameter id="LNmeanRandEffect_${trait}.${epoch_number}" value="0.0"/>
				</mean>
				<precision>
					<parameter id="LNprecRandEffect_${trait}.${epoch_number}" value="0.1"/>
				</precision>
	        </normalDistributionModel>
	    </distribution>
	</distributionLikelihood>

    <gammaPrior id="gammaPrecisionRandEffectPrior_${trait}.${epoch_number}" shape="0.001" scale="1000" offset="0">
        <parameter idref="LNprecRandEffect_${trait}.${epoch_number}"/>
    </gammaPrior>

	<sumStatistic id="nonZeroEffects_${trait}.${epoch_number}" name="nonZeroEffectCount.${epoch_number}" elementwise="true">
		<parameter idref="coefRandIndicator_${trait}.${epoch_number}"/>
	</sumStatistic>
%endfor	
	<epochBranchModel id="${trait}.epochModel">
%for epoch_number, time in enumerate((config["transition_times"])):
%if time != "end":
		<epoch id="${trait}.${epoch_number}" transitionTime="${time}">
			<glmSubstitutionModel idref = "${trait}.model.${epoch_number}"/>
		</epoch>
%else:
		 <glmSubstitutionModel idref="${trait}.model.${epoch_number}"/>
%endif
%endfor
		<treeModel idref="treeModel"/>
	</epochBranchModel>

	<siteModel id="${trait}.siteModel">
		<branchSubstitutionModel> 
             <epochBranchModel idref="${trait}.epochModel"/>
		</branchSubstitutionModel> 
	</siteModel>


%else:
	<!-- Generalised Linear Model-->
	<glmSubstitutionModel id="${trait}.model">
		<dataType idref="${trait}.dataType"/>
		<rootFrequencies>
			<frequencyModel id="${trait}.frequencyModel" normalize="true">
				<dataType idref="${trait}.dataType"/>
				<frequencies>
					<parameter id="${trait}.frequencies" dimension="${n_options}"/>
				</frequencies>
			</frequencyModel>
		</rootFrequencies>

		<glmModel id="${trait}.glmModel" checkFullRank="false" family="logLinear" checkIdentifiability="false">
			<independentVariables>
				<parameter id="${trait}.glmCoefficients" dimension="${n_predictors}" value="0.1"/> <!-- dimension is the number of predictors -->
				<indicator>
					<parameter id="${trait}.coefIndicator" dimension="${n_predictors}" value="1"/> <!-- dimension is the number of predictors -->
				</indicator>
				<designMatrix id="${trait}.designMatrix">

%for predictor, values in config['trait_to_predictor'][trait].items():
					<parameter idref="${predictor}"/>
%endfor
				</designMatrix>
			</independentVariables>
			<independentVariables>
				<parameter id="glmRandCoefficients_${trait}" dimension="${n_options*2}" value="0.1"/> <!-- NB I'm assuming here that it's asymmetric-->
				<indicator>
					<parameter id="coefRandIndicator_${trait}" dimension="${n_options*2}" value="1.0"/>
				</indicator>
				<designMatrix id="randDesignMatrix_${trait}" checkIdentifiability="false">
% for to_from, rand_matrix in trait_rand_design.items():
					<parameter id="${to_from}" value="${rand_matrix}"/>
%endfor
				</designMatrix>
			</independentVariables>
		</glmModel>
	</glmSubstitutionModel>

	<sumStatistic id="${trait}.nonZeroIndicators" name="nonZeroIndicatorCount" elementwise="true">
		<parameter idref="${trait}.coefIndicator"/>
	</sumStatistic>
	<productStatistic id="${trait}.coefficientsTimesIndicators" elementwise="false">
		<parameter idref="${trait}.glmCoefficients"/>
		<parameter idref="${trait}.coefIndicator"/>
	</productStatistic>

	<distributionLikelihood id="${trait}_randomEffects.prior">
		<data>
			<parameter idref="glmRandCoefficients_${trait}"/>
		</data>
	    <distribution>
    	    <normalDistributionModel>
				<mean>
					<parameter id="LNmeanRandEffect_${trait}" value="0.0"/>
				</mean>
				<precision>
					<parameter id="LNprecRandEffect_${trait}" value="0.1"/>
				</precision>
	        </normalDistributionModel>
	    </distribution>
	</distributionLikelihood>

    <gammaPrior id="gammaPrecisionRandEffectPrior_${trait}" shape="0.001" scale="1000" offset="0">
        <parameter idref="LNprecRandEffect_${trait}"/>
    </gammaPrior>

	<sumStatistic id="nonZeroEffects_${trait}" name="nonZeroEffectCount" elementwise="true">
		<parameter idref="coefRandIndicator_${trait}"/>
	</sumStatistic>
%endif


%if config['epoch']:
%for epoch_number in range(len(config["transition_times"])):
    <!-- The strict clock (Uniform rates across branches) for ${trait} rates           -->
	<strictClockBranchRates id="${trait}.branchRates.${epoch_number}">
		<rate>
			<parameter id="${trait}.rate.${epoch_number}" value="1.0" lower="0.0"/>
		</rate>
	</strictClockBranchRates>

	<markovJumpsTreeLikelihood id="${trait}.treeLikelihood.${epoch_number}" stateTagName="${trait}.states.${epoch_number}" useUniformization="true" saveCompleteHistory="true" logCompleteHistory="true">
		<attributePatterns idref="${trait}.pattern"/>
		<treeModel idref="treeModel"/>
		<siteModel idref="${trait}.siteModel"/>
		<glmSubstitutionModel idref="${trait}.model.${epoch_number}"/>
		<strictClockBranchRates idref="${trait}.branchRates.${epoch_number}"/>

		<!-- The root state frequencies                                              -->
		<frequencyModel id="${trait}.root.frequencyModel.${epoch_number}" normalize="true">
			<generalDataType idref="${trait}.dataType"/> 
			<frequencies>
				<parameter id="${trait}.root.frequencies.${epoch_number}" dimension="${n_options}"/>
			</frequencies>
		</frequencyModel>

        <!-- Ancestral state reconstruction -->
        <parameter id="${trait}.count.${epoch_number}" value="${config['count_matrix'][trait]}"/>

        <rewards>
%for place,option in enumerate(config['all_trait_options'][trait]):
<% reward_trait_list = []
for i in range(n_options):
    if i != place:
        reward_trait_list.append(0.0)
    else:
        reward_trait_list.append(1.0)
reward_trait_str = str(reward_trait_list).replace(",", "").lstrip("[").rstrip("]")%>
            <parameter id="${option}_R.${epoch_number}"       value="${reward_trait_str}"/>
%endfor
        </rewards>
    </markovJumpsTreeLikelihood>
%endfor

%else:
	<strictClockBranchRates id="${trait}.branchRates">
		<rate>
			<parameter id="${trait}.rate" value="1.0" lower="0.0"/>
		</rate>
	</strictClockBranchRates>

	<siteModel id="${trait}.siteModel">
        <substitutionModel>
            <generalSubstitutionModel idref="${trait}.model"/>
        </substitutionModel>
    </siteModel>

	<markovJumpsTreeLikelihood id="${trait}.treeLikelihood" stateTagName="${trait}.states" useUniformization="true" saveCompleteHistory="true" logCompleteHistory="true">
		<attributePatterns idref="${trait}.pattern"/>
		<treeModel idref="treeModel"/>
		<siteModel idref="${trait}.siteModel"/>
		<generalSubstitutionModel idref="${trait}.model"/>
		<strictClockBranchRates idref="${trait}.branchRates"/>

		<!-- The root state frequencies                                              -->
		<frequencyModel id="${trait}.root.frequencyModel" normalize="true">
			<generalDataType idref="${trait}.dataType"/>
			<frequencies>
				<parameter id="${trait}.root.frequencies" dimension="${n_options}"/>
			</frequencies>
		</frequencyModel>

        <!-- Ancestral state reconstruction -->       
        <parameter id="${trait}.count" value="${config['count_matrix'][trait]}"/>

        <rewards>
%for place,option in enumerate(config['all_trait_options'][trait]):
<% reward_trait_list = []
for i in range(n_options):
    if i != place:
        reward_trait_list.append(0.0)
    else:
        reward_trait_list.append(1.0)
reward_trait_str = str(reward_trait_list).replace(",", "").lstrip("[").rstrip("]")%>
            <parameter id="${option}_R"       value="${reward_trait_str}"/>
%endfor
        </rewards>
    </markovJumpsTreeLikelihood>
%endif
%endfor

	<!-- Define operators                                                        --> 
    <operators id="operators" optimizationSchedule="log">


%for trait in config['traits']:
%if config['epoch']:
%for epoch_number in range(len(config["transition_times"])):
        <scaleOperator scaleFactor="0.75" weight="15" scaleAllIndependently="true">
			<parameter idref="${trait}.rate.${epoch_number}"/>
		</scaleOperator>
		<bitFlipOperator weight="7">
			<parameter idref="${trait}.coefIndicator.${epoch_number}"/>
		</bitFlipOperator>
		<deltaExchange delta="0.75" weight="1">
			<parameter idref="${trait}.root.frequencies.${epoch_number}"/>
		</deltaExchange>
		<rateBitExchangeOperator weight="3" usesPriorOnSum="false">
			<bits>
				<parameter idref="${trait}.coefIndicator.${epoch_number}"/>
			</bits>
			<rates>
				<parameter idref="${trait}.glmCoefficients.${epoch_number}"/>
			</rates>
		</rateBitExchangeOperator>
		<bitMoveOperator weight="3.0" numBitsToMove="1" usesPriorOnSum="false">
 			<bits>
   				<parameter idref="${trait}.coefIndicator.${epoch_number}"/>
 			</bits>
		</bitMoveOperator>  
		<randomWalkOperator windowSize="0.5" weight="1">
			<parameter idref="${trait}.glmCoefficients.${epoch_number}"/>
		</randomWalkOperator>
		<mvnOperator scaleFactor="1.0" weight="10" formXtXInverse="true">
			<parameter idref="${trait}.glmCoefficients.${epoch_number}"/>
			<varMatrix>
				<parameter idref="${trait}.designMatrix.${epoch_number}"/>
			</varMatrix>
		</mvnOperator>

 		<randomWalkOperator windowSize="0.5" weight="20">
            <parameter idref="glmRandCoefficients_${trait}.${epoch_number}"/>
        </randomWalkOperator>    

		<normalGammaPrecisionGibbsOperator weight="12">
			<likelihood>
				<distributionLikelihood idref="${trait}_randomEffects.prior.${epoch_number}"/>
			</likelihood>
			<prior>
				<gammaPrior idref="gammaPrecisionRandEffectPrior_${trait}.${epoch_number}"/>
			</prior>
		</normalGammaPrecisionGibbsOperator>
%endfor
%else:
		<scaleOperator scaleFactor="0.75" weight="15" scaleAllIndependently="true">
			<parameter idref="${trait}.rate"/>
		</scaleOperator>
		<bitFlipOperator weight="7">
			<parameter idref="${trait}.coefIndicator"/>
		</bitFlipOperator>
		<deltaExchange delta="0.75" weight="1">
			<parameter idref="${trait}.root.frequencies"/>
		</deltaExchange>
		<rateBitExchangeOperator weight="3" usesPriorOnSum="false">
			<bits>
				<parameter idref="${trait}.coefIndicator"/>
			</bits>
			<rates>
				<parameter idref="${trait}.glmCoefficients"/>
			</rates>
		</rateBitExchangeOperator>
		<bitMoveOperator weight="3.0" numBitsToMove="1" usesPriorOnSum="false">
 			<bits>
   				<parameter idref="${trait}.coefIndicator"/>
 			</bits>
		</bitMoveOperator>  
		<randomWalkOperator windowSize="0.5" weight="1">
			<parameter idref="${trait}.glmCoefficients"/>
		</randomWalkOperator>
		<mvnOperator scaleFactor="1.0" weight="10" formXtXInverse="true">
			<parameter idref="${trait}.glmCoefficients"/>
			<varMatrix>
				<parameter idref="${trait}.designMatrix"/>
			</varMatrix>
		</mvnOperator>

 		<randomWalkOperator windowSize="0.5" weight="20">
            <parameter idref="glmRandCoefficients_${trait}"/>
        </randomWalkOperator>    

		<normalGammaPrecisionGibbsOperator weight="12">
			<likelihood>
				<distributionLikelihood idref="${trait}_randomEffects.prior"/>
			</likelihood>
			<prior>
				<gammaPrior idref="gammaPrecisionRandEffectPrior_${trait}"/>
			</prior>
		</normalGammaPrecisionGibbsOperator>
%endif
%endfor
        </operators>
    
    <mcmc id="mcmc" chainLength="${config['chain_length']}" autoOptimize="true">
		<joint id="joint">
			<prior id="prior">

%for trait in config['traits']:
<% n_predictors = len(config['trait_to_predictor'][trait])
bin_prob = config['bin_probs'][trait]%>
%if config['epoch']:
%for epoch_number in range(len(config["transition_times"])):
				
				<ctmcScalePrior>
					<ctmcScale>
						<parameter idref="${trait}.rate.${epoch_number}"/>
					</ctmcScale>
					<treeModel idref="treeModel"/>
				</ctmcScalePrior>
				<normalPrior mean="0" stdev="2">
					<parameter idref="${trait}.glmCoefficients.${epoch_number}"/>
				</normalPrior>
				<binomialLikelihood>
					<proportion>
						<parameter value="${bin_prob}"/> <!-- the value of p that will give a 50% chance of no predictors being included -->
					</proportion>
					<trials>
						<parameter dimension="${n_predictors}" value="1"/> <!-- dimension is the number of predictors -->
					</trials>
					<counts>
						<parameter idref="${trait}.coefIndicator.${epoch_number}"/>
					</counts>
				</binomialLikelihood>
				<distributionLikelihood idref="${trait}_randomEffects.prior.${epoch_number}"/>
				<gammaPrior idref="gammaPrecisionRandEffectPrior_${trait}.${epoch_number}"/>

                <glmSubstitutionModel idref="${trait}.model.${epoch_number}"/>
%endfor
%else:
				<ctmcScalePrior>
					<ctmcScale>
						<parameter idref="${trait}.rate"/>
					</ctmcScale>
					<treeModel idref="treeModel"/>
				</ctmcScalePrior>
				<normalPrior mean="0" stdev="2">
					<parameter idref="${trait}.glmCoefficients"/>
				</normalPrior>
				<binomialLikelihood>
					<proportion>
						<parameter value="${bin_prob}"/> <!-- the value of p that will give a 50% chance of no predictors being included -->
					</proportion>
					<trials>
						<parameter dimension="${n_predictors}" value="1"/> <!-- dimension is the number of predictors -->
					</trials>
					<counts>
						<parameter idref="${trait}.coefIndicator"/>
					</counts>
				</binomialLikelihood>
				<distributionLikelihood idref="${trait}_randomEffects.prior"/>
				<gammaPrior idref="gammaPrecisionRandEffectPrior_${trait}"/>

                <glmSubstitutionModel idref="${trait}.model"/>
%endif
%endfor
            </prior>
			<likelihood id="likelihood">

				<!-- START Discrete Traits Model                                             -->

%for trait in config['traits']:
%if config['epoch']:
%for epoch_number in range(len(config["transition_times"])):
				<markovJumpsTreeLikelihood idref="${trait}.treeLikelihood.${epoch_number}"/>
%endfor
%else:
				<markovJumpsTreeLikelihood idref="${trait}.treeLikelihood"/>
%endif
%endfor
				<!-- END Discrete Traits Model                                               -->

			</likelihood>
		</joint>
        <operators idref="operators"/>

    <!-- write log to screen                                                     -->
		<log id="screenLog" logEvery="10000">
			<column label="Joint" dp="4" width="12">
				<joint idref="joint"/>
			</column>
			<column label="Prior" dp="4" width="12">
				<prior idref="prior"/>
			</column>
			<column label="Likelihood" dp="4" width="12">
				<likelihood idref="likelihood"/>
			</column>
			
%for trait in config['traits']:
%if config['epoch']:
%for epoch_number in range(len(config["transition_times"])):
			<column label="${trait}.rate.${epoch_number}" sf="6" width="12">
				<parameter idref="${trait}.rate.${epoch_number}"/>
			</column>

			<!-- START Discrete Traits Model                                             -->
			<column label="${trait}.nonZeroPredictors.${epoch_number}" sf="6" width="12">
				<sumStatistic idref="${trait}.nonZeroIndicators.${epoch_number}"/>
			</column>
%endfor
%else:
			<column label="${trait}.rate" sf="6" width="12">
				<parameter idref="${trait}.rate"/>
			</column>

			<!-- START Discrete Traits Model                                             -->
			<column label="${trait}.nonZeroPredictors" sf="6" width="12">
				<sumStatistic idref="${trait}.nonZeroIndicators"/>
			</column>
%endif
%endfor

			<!-- END Discrete Traits Model                                               -->

		</log>

		<!-- write log to file                                                       -->
		<log id="fileLog" logEvery="${config['log_every']}" fileName="${config['file_stem']}.log" overwrite="false">
			<joint idref="joint"/>
			<prior idref="prior"/>
			<likelihood idref="likelihood"/>
			
%for trait in config['traits']:
%if config['epoch']:
%for epoch_number in range(len(config["transition_times"])):
			<distributionLikelihood idref="${trait}_randomEffects.prior.${epoch_number}"/>
			<gammaPrior idref="gammaPrecisionRandEffectPrior_${trait}.${epoch_number}"/>

			<parameter idref="${trait}.rate.${epoch_number}"/>
			<parameter idref="${trait}.root.frequencies.${epoch_number}"/>

			<!-- START Discrete Traits Model                                             -->
			<sumStatistic idref="${trait}.nonZeroIndicators.${epoch_number}"/>
			<parameter idref="${trait}.coefIndicator.${epoch_number}"/>
			<parameter idref="${trait}.glmCoefficients.${epoch_number}"/>
			<productStatistic idref="${trait}.coefficientsTimesIndicators.${epoch_number}"/>
			<parameter idref="LNprecRandEffect_${trait}.${epoch_number}"/>

			<markovJumpsTreeLikelihood idref="${trait}.treeLikelihood.${epoch_number}"/>
			<glmSubstitutionModel idref="${trait}.model.${epoch_number}"/>
%endfor
%else:
			<distributionLikelihood idref="${trait}_randomEffects.prior"/>
			<gammaPrior idref="gammaPrecisionRandEffectPrior_${trait}"/>

			<parameter idref="${trait}.rate"/>
			<parameter idref="${trait}.root.frequencies"/>

			<!-- START Discrete Traits Model                                             -->
			<sumStatistic idref="${trait}.nonZeroIndicators"/>
			<parameter idref="${trait}.coefIndicator"/>
			<parameter idref="${trait}.glmCoefficients"/>
			<productStatistic idref="${trait}.coefficientsTimesIndicators"/>
			<parameter idref="LNprecRandEffect_${trait}"/>

			<markovJumpsTreeLikelihood idref="${trait}.treeLikelihood"/>
			<glmSubstitutionModel idref="${trait}.model"/>
%endif
%endfor
		</log>

%for trait in config['traits']:
%if config['epoch']:
%for epoch_number in range(len(config["transition_times"])):
		<!-- START Discrete Traits Model                                             -->
		<log id="${config['file_stem']}.${trait}rateMatrixLog.${epoch_number}" logEvery="${config['log_every']}" fileName="${config['file_stem']}.${trait}.rates.${epoch_number}.log">
			<parameter idref="${trait}.coefIndicator.${epoch_number}"/>
			<parameter idref="${trait}.glmCoefficients.${epoch_number}"/>
			<productStatistic idref="${trait}.coefficientsTimesIndicators.${epoch_number}"/>
			<parameter idref="coefRandIndicator_${trait}.${epoch_number}"/>
			<parameter idref="glmRandCoefficients_${trait}.${epoch_number}"/>
			<glmModel idref="${trait}.glmModel.${epoch_number}"/>
			<sumStatistic idref="${trait}.nonZeroIndicators.${epoch_number}"/>
			<parameter idref="LNprecRandEffect_${trait}.${epoch_number}"/>
		</log>
%endfor
%else:
		<!-- START Discrete Traits Model                                             -->
		<log id="${config['file_stem']}.${trait}rateMatrixLog" logEvery="${config['log_every']}" fileName="${config['file_stem']}.${trait}.rates.log">
			<parameter idref="${trait}.coefIndicator"/>
			<parameter idref="${trait}.glmCoefficients"/>
			<productStatistic idref="${trait}.coefficientsTimesIndicators"/>
			<parameter idref="coefRandIndicator_${trait}"/>
			<parameter idref="glmRandCoefficients_${trait}"/>
			<glmModel idref="${trait}.glmModel"/>
			<sumStatistic idref="${trait}.nonZeroIndicators"/>
			<parameter idref="LNprecRandEffect_${trait}"/>
		</log>
%endif
%endfor
		<!-- END Discrete Traits Model                                               -->


		<!-- write tree log to file                                                  -->
		<logTree id="treeFileLog" logEvery="${config['log_every']}" nexusFormat="true" fileName="${config['file_stem']}.trees" sortTranslationTable="true">
			<treeModel idref="treeModel"/>
            <joint idref="joint"/>
			
%for trait in config['traits']:
%if config['epoch']:
%for epoch_number in range(len(config["transition_times"])):
			<!-- START Ancestral state reconstruction                                    -->
			<trait name="${trait}.states.${epoch_number}" tag="${trait}">
				<ancestralTreeLikelihood idref="${trait}.treeLikelihood.${epoch_number}"/>
			</trait>
			<trait name="${trait}.count.${epoch_number}" tag="${trait}.count">
				<ancestralTreeLikelihood idref="${trait}.treeLikelihood.${epoch_number}"/>
			</trait>
%endfor
%else:
<!-- START Ancestral state reconstruction                                    -->
			<trait name="${trait}.states" tag="${trait}">
				<ancestralTreeLikelihood idref="${trait}.treeLikelihood"/>
			</trait>
			<trait name="${trait}.count" tag="${trait}.count">
				<ancestralTreeLikelihood idref="${trait}.treeLikelihood"/>
			</trait>
%endif
%endfor
		</logTree>


		<!-- write complete history tree log to file                                 -->
		<logTree logEvery="${config['log_every']}" nexusFormat="true" fileName="${config['file_stem']}.history.trees" sortTranslationTable="true">
			<treeModel idref="treeModel"/>
%for trait in config['traits']:
%if config['epoch']:
%for epoch_number in range(len(config["transition_times"])):
            <markovJumpsTreeLikelihood idref="${trait}.treeLikelihood.${epoch_number}"/>
%endfor
%else:
			<markovJumpsTreeLikelihood idref="${trait}.treeLikelihood"/>
%endif
%endfor
		</logTree>

		<!-- END Ancestral state reconstruction                                      -->

	</mcmc>
	
	<report>
		<property name="timer">
			<mcmc idref="mcmc"/>
		</property>
	</report>
	
</beast>





	 




        












